---
import util from "node:util"
import child_process from "node:child_process"
import { Card, CardGrid, Badge } from "@astrojs/starlight/components"
import team from "../data/team_webex.json"
import wanted from "../data/wanted-docs.json"
import { Image } from "astro:assets"
import eng from "../assets/fusioncare-engineer.webp"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

const exec = util.promisify(child_process.exec)

// TODO: find out how to do this properly - extend type?
const f: CollectionEntry<"docs">[] = await getCollection("docs")
const ff: CollectionEntry<"docs">[] = f.filter((x) => {
  if (x.data.created) {return x}
})
const fff: CollectionEntry<"docs">[] = ff.sort((a, b) => {
  let adc = a.data.created
  let bdc = b.data.created
  if (adc && bdc) {
    const x = new Date(adc)
    const y = new Date(bdc)
    return y.getTime() - x.getTime()
  }
  throw new Error("cunt");
})

let team_stats = team.map((m) => {
  return {
    name: m.name,
    pic: m.avatar,
    cmd: `rg -q --stats 'owner: ${m.email}' ./src/content/docs | head -n 2 | awk '{print$1}'`,
    output: "",
  }
})
async function executeCommands(
  commands: { name: string; cmd: string; output: string }[]
) {
  for (const commandObj of commands) {
    const { stdout } = await exec(commandObj.cmd)
    commandObj.output = stdout.trim()
  }
}
await executeCommands(team_stats)

team_stats.sort((a, b) => {
  const x = Number(a.output)
  const y = Number(b.output)
  return y - x
})

function getMonthsBetween(date1: Date,date2: Date,roundUpFractionalMonths: Boolean)
{
    //Months will be calculated between start and end dates.
    //Make sure start date is less than end date.
    //But remember if the difference should be negative.
    var startDate=date1;
    var endDate=date2;
    var inverse=false;
    if(date1>date2)
    {
        startDate=date2;
        endDate=date1;
        inverse=true;
    }

    //Calculate the differences between the start and end dates
    var yearsDifference=endDate.getFullYear()-startDate.getFullYear();
    var monthsDifference=endDate.getMonth()-startDate.getMonth();
    var daysDifference=endDate.getDate()-startDate.getDate();

    var monthCorrection=0;
    //If roundUpFractionalMonths is true, check if an extra month needs to be added from rounding up.
    //The difference is done by ceiling (round up), e.g. 3 months and 1 day will be 4 months.
    if(roundUpFractionalMonths===true && daysDifference>0)
    {
        monthCorrection=1;
    }
    //If the day difference between the 2 months is negative, the last month is not a whole month.
    else if(roundUpFractionalMonths!==true && daysDifference<0)
    {
        monthCorrection=-1;
    }

    return (inverse?-1:1)*(yearsDifference*12+monthsDifference+monthCorrection);
};

---

<CardGrid>
  <Card title="Leaderboard" icon="rocket">
    <table style="border-collapse: collapse; width: 100%;">
      {
        team_stats.map((m) => ( 
          <tr>
            <td style="text-align: center;">
              {m.pic ? (
                <Image
                  src={m.pic}
                  alt="Avatar"
                  width="50"
                  height="50"
                  style="border-radius: 50%; object-fit: cover;"
                />
              ) : (
                <Image
                  src={eng}
                  alt="Avatar"
                  width="50"
                  height="50"
                  style="border-radius: 50%; object-fit: cover;"
                />
              )}
            </td>
            <td style="text-align: left;">{m.name === 'George Russ' ? 'The Grussalo' : m.name }</td>
            <td style="text-align: left;">{m.output}
            {team_stats[0].output == m.output ? <span>&emsp;</span><Badge text="TOP LAD" size="large" style="color:#fff;background-color:#9F8F5E;border-color:#9F8F5E;"></Badge>:''}
            {m.name === "Ezekiel Nye" ? <span>&emsp;</span><Badge text="DQ" size="small" style="color:#fff;background-color:#ff0000;border-color:#ff0000;"></Badge>:''}</td>
          </tr>
        ))
      }
    </table>
  </Card>
  <Card title="Title Track" icon="codeberg">
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th style="text-align: left;">Title</th>
          <th style="text-align: right;">Docs Uploaded</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td style="text-align: center;"><Badge text="Kind Of A Big Deal" size="small" style="background-color:#62A4DA;border-color:#62A4DA;"></Badge></td>
            <td style="text-align: left;">10</td>
          </tr>
          <tr>
            <td style="text-align: center;">???</td> <!-- <Badge text="People Know Me" size="small" style="background-color:#1a9306;border-color:#1a9306;"></Badge> -->
            <td style="text-align: left;">???</td> <!-- 25 -->
          </tr>
          <tr>
            <td style="text-align: center;">???</td> <!-- <Badge text="I'm Very Important" size="small" style="background-color:#fcd00b;border-color:#fcd00b;"></Badge> -->
            <td style="text-align: left;">???</td> <!-- 50 -->
          </tr>
          <tr>
            <td style="text-align: center;">???</td> <!-- <Badge text="I Have Many Leather-Bound Books" size="medium" style="background-color:#ffa405;border-color:#ffa405;"></Badge> -->
            <td style="text-align: left;">???</td> <!-- 100 -->
          </tr>
          <tr>
            <td style="text-align: center;">???</td> <!-- <Badge text="My Data Centre Smells of Rich Mahogany" size="medium" style="background-color:#fb3e8d;border-color:#fb3e8d;"></Badge> -->
            <td style="text-align: left;">???</td> <!-- 250 -->
          </tr>
          <tr>
            <td style="text-align: center;">???</td> <!-- <Badge text="???" size="large" style="background-color:#4C139D;border-color:#4C139D;"></Badge> -->
            <td style="text-align: left;">???</td> <!-- ??? -->
          </tr>
      </tbody> 
    </table>
  </Card>
  <Card title="Latest Documents" icon="open-book">
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th style="text-align: left;">Title</th>
          <th style="text-align: right;">Created</th>
        </tr>
      </thead>
      <tbody>
        {
          fff.map((m) => (
            <tr>
              <td><a href={"/"+m.slug+"/"}>{m.data.title}</a></td>
              <td style="text-align: right; white-space: nowrap;">{(m.data.created ? new Date(m.data.created).toISOString().split('T')[0] : "duh i broked sumfin")}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </Card>
  <Card title="Wanted Documents" icon="star">
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th style="text-align: left;">Title</th>
          <th style="text-align: right;">Since</th>
          <th style="text-align: right;">Bounty</th>
        </tr>
      </thead>
      <tbody>
        {
          wanted.procedure.map((m) => (
            <tr>
              <td>{m.title}</td>
              <td style="text-align: right; white-space: nowrap;">
                {(m.since ? m.since.split('T')[0] : "duh i broked sumfin")}
              </td>
              <td><span>x{1+getMonthsBetween(new Date(Date.now()),new Date(m.since),false)}</span></td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th style="text-align: left;">Title</th>
          <th style="text-align: right;">Since</th>
          <th style="text-align: right;">Bounty</th>
        </tr>
      </thead>
      <tbody>
        {
          wanted.explanation.map((m) => (
            <tr>
              <td>{m.title}</td>
              <td style="text-align: right; white-space: nowrap;">
                {(m.since ? m.since.split('T')[0] : "duh i broked sumfin")}
              </td>
              <td><span>x{1 + getMonthsBetween(new Date(Date.now()),new Date(m.since),false)}</span></td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <table style="border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th style="text-align: left;">Title</th>
          <th style="text-align: right;">Since</th>
          <th style="text-align: right;">Bounty</th>
        </tr>
      </thead>
      <tbody>
        {
          wanted.reference.map((m) => (
            <tr>
              <td>{m.title}</td>
              <td style="text-align: right; white-space: nowrap;">
                {(m.since ? m.since.split('T')[0] : "duh i broked sumfin")}
              </td>
              <td><span>x{1 + getMonthsBetween(new Date(Date.now()),new Date(m.since),false)}</span></td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </Card>
</CardGrid>
